<div class="card">
    <div class="card-body">
        <h6>{{firstName}} {{lastName}}</h6>
        <a href="/clients/view/{{id}}">View file</a> <a href="/clients/view/projects/{{id}}">View projects</a>
    </div>
</div>