<div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <div>
          <h5 class="mb-1" style="display: inline-block;">{{projectName}}</h5>
          <small class="text-muted">project started {{format_date dateCreated}}</small>
        </div>
    </div>
    <a href="/project/view/{{id}}">View project</a>
</div>