<link rel="stylesheet" href="./../../css/style.css"/>
<h1>Clients</h1>
<form class="d-flex" role="search" id="search-client"> 
    <input class="form-control my-2 mr-2" type="search" id="search-input" placeholder="Search client's name" {{#if isSearch}}value="{{capitalise searchTerm}}"{{/if}} aria-label="Search">
    <button class="btn btn-outline-success my-2" type="submit">Search</button>
</form>
{{#if isSearch}}
<h5 class="mt-4">{{searchMessage}}</h5>
{{else}}
<h5 class="mt-4">{{get_length clients}} Records total</h5>
{{/if}}
<div class="list-group mb-4">
    {{#each clients as |client|}}
    {{> clientCard}}
    {{/each}}
    <a href="/client/add/" class="list-group-item list-group-item-action list-group-item-success">
        + Add new client
    </a>
</div>


<script src="./../../js/clientSearch.js"></script>