<form class="d-flex" role="search" id="search-client"> 
    <input class="form-control me-2" type="search" id="search-input" placeholder="Search client's name" {{#if isSearch}}value="{{searchTerm}}"{{/if}} aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
{{#if isSearch}}
<h5 class="mt-4">{{searchMessage}}</h5>
{{/if}}
<div class="list-group">
    {{#each clients as |client|}}
    {{> clientCard}}
    {{/each}}
    <a href="/client/add/" class="list-group-item list-group-item-action list-group-item-success">
        + Add new client
    </a>
</div>


<script src="./../../js/clientSearch.js"></script>