<form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search client's name" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<div class="list-group">
    {{#each clients as |client|}}
    {{> clientCard}}
    {{/each}}
    <a href="/client/add/" class="list-group-item list-group-item-action list-group-item-success">
        + Add new client
    </a>
</div>