<link rel="stylesheet" href="./css/style.css"/>
<div class="card text-white bg-light p-3">
     <!-- Dynamically renders welcome message with manager first name -->
    <h1 class="text-center" >Welcome {{capitalise_first_word manager_name}}!</h1>
    <p class="text-center" id="time"></p>
</div>
<br>
<div class="list-group mb-4">
    <h2 class="text-center">Recent projects:</h2>
    <!-- Loop over each object in the projects array -->
    {{#each projects as |project| }}
    {{> projectCard}}
    {{/each}}
</div>

 <!-- Script link for home.js file -->
<script src="./js/home.js"></script>