<form class="d-flex" role="search" id="search-project">
    <input class="form-control me-2" type="search" id="search-input" placeholder="Search project's name" {{#if isSearch}}value="{{searchTerm}}"{{/if}} aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
{{#if isSearch}}
<h5 class="mt-4">{{searchMessage}}</h5>
{{/if}}
<div class="list-group">
    {{#each projects as |project|}}
    {{> projectCard}}
    {{/each}}
    <a href="/project/add/" class="list-group-item list-group-item-action list-group-item-success">
        + Add new Project
    </a>
</div>

<script src="./../../js/projectSearch.js"></script>