* {
	font-family: "Noto Serif", serif;
}

/* Set the size of the div element that contains the map */
#map {
	height: 400px;
	/* The height is 400 pixels */
	width: 400px;
}

.jumbotron {
	background-color: #c0c5db;
}
